<div class="bubble" style="float:right">
<h2>AWAY</h2>
<% events.each do |day,list| %>
  <p style="padding: 10px"><b style="color: #f77"><%= day %></b></p>
  <p><%= list.join(", ") %></p>
<% end %>
</div>