<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Winston made this</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/script.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>
