<div style="clear:left;padding-top:40px">
<ul class="people">
  <% activities.each do |a| %>
  <li>
      <% a.persons.each do |p| %>
      <img src="<%= p.gravatar %>">
      <% end %>
      <%= a.name %>
  </li>
  <% end %>
</ul>
</div>